@charset "UTF-8";

body{
    margin: 0;
    max-width: 100%;
    background-color: #ececec;
    /*background-color: rgba(164,242,223,.5);*/
}

#title{
    display: flex;
    justify-content: center;
    background-color: #19325c;
    font-size: 1vw;
    height: 10vh;
    line-height: 4vh;
}

.svg{
    font-family: Arial, FontAwesome;
}

#login{
    position: absolute;
    top: 2%;
    right: 3%;
    height: 5.5vh;
    width: 3vw;
    font-size: 2.3vw;
    background-color: #19325c;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #e33054;
}

#login:visited{
    color: #e33054;
}

#login:hover{
    color: #e33054;
}

#cart{
    position: absolute;
    top: 2%;
    right: 8%;
    height: 5.5vh;
    width: 3vw;
    font-size: 2.3vw;
    background-color: #19325c;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #e33054;
    text-decoration: none;
}

#cart:visited{
    color: #e33054;
}

#cart:hover{
    color: #e33054;
}

h1{
    font-family: 'Mulish', sans-serif;
    letter-spacing: .7vw;
    color: #e33054
}

#container{
    display: flex;
}

#sidebar{
    width: 20vw;
    height: 90vh;
    float: left;
    background-color: #5e708d;
    overflow: hidden;
}

#productContainer{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

#wrapper{
    height: auto;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #73a99c;
}

#sidebar *{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#sidebar > input{
    border-radius: 10px;
    border: 0;
}

#sidebar > .collapsible{
    border-radius: 10px 10px 0 0;
}

#sidebar > .content{
    border-radius: 0 0 10px 10px;
}

#searchBar{
    margin-top: 3vh;
    width: 13vw;
    height: 3vh;
    font-size: 1vw;
    line-height: 3vh;
}

.item{
    margin-top: 3vh;
    width: 13vw;
    height: 3vh;
    font-size: 1vw;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 13vw;
    height: 3vh;
    border: none;
    text-align: left;
    font-size: 15px;
    padding-top: 0.5vh;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 13vw;
    height: auto;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.options > label{
    padding-left: 5px;
    margin: 0;
    width: 11vw;
}

input[type="checkbox"]{
    transition: box-shadow .6s;
    background: lightgrey;
    height: .5vw;
    width: .5vw;
    margin-top: .45vh;
}

input[type="checkbox"]:checked{
    box-shadow: inset 0 0 0 5px #e33054;
}

.product{
    height: 320px;
    width: 300px;
    border: 1px solid black;
    margin-left: 2vw;
    margin-top: 2vw;
    float: left;
    cursor: pointer;
    background-color: white;
    position: relative;
    border-radius: 15px;
}

.product:hover{
    transform: scale(1.02);
}

.productImg{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
}

.product *{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.productName{
    font-weight: 400;
    font-size: 1.7em;
    margin-bottom: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #30476c;
}

.productBrand{
    font-weight: 300;
    font-size: 1.5em;
    position:absolute;
    bottom: 24px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.productPrice{
    font-weight: 300;
    font-style: italic;
    font-size: 1em;
    position: absolute;
    bottom: 5px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: hidden;
    animation: fadeIn 1s;
}

.modal-content {
    background-color: #fefefe;
    margin: 3.5% auto; /* 15% from the top and centered */
    padding: 2vw;
    border: 1px solid #888;
    width: 40vw; /* Could be more or less, depending on screen size */
    height:80vh;
    overflow: hidden;
    border-radius: 40px;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.productInformation > img{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
}

.centreContainer{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 5vh;
}

.secondContainer{
    text-align: center;
}

.Name{
    font-size: 2.2vw;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    color: #30476c;
}

.Brand{
    font-size: 2.2vw;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

.ReleaseDate{
    font-size: 1.8vw;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 1vh;
    color: #666666;
}

.Available{
    color: #e33054;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.7vw;
}

.Price{
    font-size: 1.7vw;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;

}

.bottomLeftContainer{
    margin-top: 10vh;
    width: auto;
    float: left;
}

.Size{
    font-size: 1.2vw;
    width: auto;
    color: #5e708d;
}

.bottomRightContainer{
    margin-top: 10vh;
    float: right;
}

.CartButton{
    border: none;
    cursor: pointer;
    background-color: rgba(170,170,170, 0.5);
    float: right;
    height: 3.5vh;
    border-radius: 0.3vw;
    font-size: 1.2vw;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #5e708d;
}

.CartButton:hover{
    background-color: #aaaaaa;
    border-radius: 0.5vw;
}

#goButton{
    float: right;
    margin-right: 3.5vw;
    margin-top: 3vh;
    width: 10%;
    text-align: center;
    justify-content: center;
    height: 3vh;
    line-height: 2.5vh;
    font-size: 1vw;
    color: 	#e33054;
    border-radius: 5px;
}

#goButton:hover{
    background-color: #ececec;
    border: 2px solid black;
    cursor: pointer;
}

#checkout{
    height: 90vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececec;
}

.Size > label{
    font-size: 1.2em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #5e708d;
}

.Size > select{
    background-color: rgba(170,170,170, 0.5);
    font-size: 1em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    border: 0;
}