@charset "UTF-8";

body{
    margin: 0;
    max-width: 100%;
}

#title{
    display: flex;
    justify-content: center;
    background-color: #e33054;
    font-size: 1vw;
    height: 10vh;
    line-height: 4vh;
}

.svg{
    font-family: Arial, FontAwesome;
}

#login{
    position: absolute;
    top: 2%;
    right: 3%;
    height: 5.5vh;
    width: 3vw;
    font-size: 2.3vw;
    background-color: #e33054;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
}

#login:visited{
    color: black;
}

#login:hover{
    color: black;
}

h1{
    font-family: 'Mulish', sans-serif;
    letter-spacing: .5vw;
    color: #19325c;
}

#container{
    display: flex;
}

#sidebar{
    width: 20vw;
    height: 90vh;
    float: left;
    background-color: #aaaaaa;
}

#productContainer{
    height: 90vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececec;
}

#sidebar *{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#searchBar{
    margin-top: 3vh;
    width: 13vw;
    height: 3vh;
    font-size: 1vw;
    line-height: 3vh;
}

.item{
    margin-top: 3vh;
    width: 13vw;
    height: 3vh;
    font-size: 1vw;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 13vw;
    height: 3vh;
    border: none;
    text-align: left;
    font-size: 15px;
    padding-top: 0.5vh;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 13vw;
    height: auto;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.options > label{
    padding-left: 5px;
    margin: 0;
}

input[type="checkbox"]{
    transition: box-shadow .6s;
    background: lightgrey;
    height: .5vw;
    width: .5vw;
    margin-top: .45vh;
}

input[type="checkbox"]:checked{
    box-shadow: inset 0 0 0 5px #e33054;
}

.product{
    height: 30vh;
    width: 15vw;
    border: 1px solid black;
    margin-left: 2vw;
    margin-top: 2vw;
    float: left;
}

.productImg{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 70%;
}

.product *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40vw; /* Could be more or less, depending on screen size */
    height:30vw;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.Image{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 30vh;
}

.Name{
    font-size: 2vw;
}

.Brand{
    font-size: 2vw;
}

.Available{
    float: right;
    color: red;
    font-style: italic;
    font-size: 1vw;
}