@charset "UTF-8";

body{
    margin: 0;
    max-width: 100%;
}

#title{
    display: flex;
    justify-content: center;
    background-color: #e33054;
    font-size: 1vw;
    height: 10vh;
    line-height: 4vh;
}

.svg{
    font-family: Arial, FontAwesome;
}

#login{
    position: absolute;
    top: 2%;
    right: 3%;
    height: 5.5vh;
    width: 3vw;
    font-size: 2.3vw;
    background-color: #e33054;
    border: 1px solid #ececec;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
}

#login:visited{
    color: black;
}

#login:hover{
    color: black;
}

h1{
    font-family: 'Mulish', sans-serif;
    letter-spacing: .5vw;
    color: #19325c;
}

#container{
}

#sidebar{
    width: 20vw;
    height: 90vh;
    float: left;
    background-color: #aaaaaa;
}

#productContainer{
    height: 90vh;
    width: 80vw;
    float: left;
    background-color: #ececec;
}

#sidebar *{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#searchBar{
    margin-top: 3vh;
    width: 13vw;
    height: 3vh;
    font-size: 1vw;
    line-height: 3vh;
}

#back{
    position: absolute;
    top: 1.2vw;
    left: 1.2vw;
    color: black;
    height: 5vh;
    width: 5vh;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    line-height: 5.5vh;
    text-decoration: none;
}

#addProduct{
    margin-left: 30vw;
    margin-top: 8vh;
}

button{
    height: 3.5vh;
    width: 9vw;
    font-size: 1vw;
    line-height: 2.3vh;
    background-color: #a4f2df;
    border-radius: .3vw;
    border: .15vw solid #e33054;
}

button:hover{
    background-color: #94dac9;
    border: .3wv solid #cc2b4c;

}

#adminProducts{
    height: auto;
    width: 80vw;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}