@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


.container{

	max-width: 1200px;

	margin: 0 auto;

}

#container > h1{

	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.5em;
	text-decoration: #5e708d underline;
	position: relative;
	left: 1%;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 10px;
}

.cart{

	display: flex;

}

.products{

	flex: 0.75;

}

.product{

	display: flex;

	width: 95%;

	height: 200px;

	overflow: hidden;

	border: 1px solid silver;

	margin-bottom: 20px;
	position: relative;
	left: 1%;
	border-radius: 15px;
	background-color: #ececec;

}

.product:hover{

	border: none;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);

	transform: scale(1.01);

}

.product > img{

	width: 300px;

	height: 200px;

	object-fit: cover;

}

.product > img:hover{

	transform: scale(1.04);

}

.product-info{

	padding: 20px;

	width: 100%;

	position: relative;

}

.product-name, .product-price, .product-offer{

    font-family: 'IBM Plex Sans', sans-serif;

}

.product-remove{

	position: absolute;

	bottom: 20px;

	right: 20px;

	padding: 10px 25px;

	background-color: green;

	color: white;

	cursor: pointer;

	border-radius: 5px;

}

.product-remove:hover{

	background-color: white;

	color: green;

	font-weight: 600;

	border: 1px solid green;

}

.product-quantity > input{

	width: 40px;

	padding: 5px;

	text-align: center;

}

.fa{

	margin-right: 5px;

}

.cart-total{

	flex: 0.25;

	margin-left: 20px;

	padding: 20px;

	height: 240px;

	border: 1px solid silver;

	border-radius: 15px;
	position: relative;
	right: 2%;
	background-color: #73a99c;
}

.cart-total p{

	display: flex;

	justify-content: space-between;

	margin-bottom: 30px;

	font-size: 20px;

}

.cart-total a{

	display: block;

	text-align: center;

	height: 50px;

	line-height: 50px;

	background-color: #e33054;

	color: white;

	text-decoration: none;
	font-size: 1.6em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
	position: relative;
	top: 15%;
	border-radius: 5px;
	letter-spacing: 1.5px;


}

.cart-total a:hover{

	background-color: #eb6e87;
	border-radius: 10px;

}

@media screen and (max-width: 700px){

	.remove{

		display: none;

	}

	.product{

		height: 150px;

	}

	.product > img{

		height: 150px;

		width: 200px;

	}

	.product-name, .product-price, .product-offer{

		margin-bottom: 10px;

	}

}

@media screen and (max-width: 900px){

	.cart{

		flex-direction: column;

	}

	.cart-total{

		margin-left: 0;

		margin-bottom: 20px;

	}

}

@media screen and (max-width: 1220px){

	.container{

		max-width: 95%;

	}

}

body{
    margin: 0;
    max-width: 100%;
	overflow-x: hidden;
}

#title{
    display: flex;
    justify-content: center;
    background-color: #19325c;
    font-size: 1vw;
    height: 10vh;
    line-height: 4vh;
}


.svg{
    font-family: Arial, FontAwesome;
}

#login{
    position: absolute;
    top: 2%;
    right: 3%;
    height: 5.5vh;
    width: 3vw;
    font-size: 2.3vw;
    background-color: #e33054;
    border: 1px solid #ececec;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
}

#login:visited{
    color: black;
}

#login:hover{
    color: black;
}

#title{
    font-family: 'Mulish', sans-serif;
    letter-spacing: .7vw;
    color: #e33054;
}

#container{
}

#sidebar{
    width: 20vw;
    height: 90vh;
    float: left;
    background-color: #aaaaaa;
}

#back{
    position: absolute;
    top: 1.2vw;
    left: 1.2vw;
    color: #e33054;
    height: 5vh;
    width: 5vh;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    line-height: 5.5vh;
    text-decoration: none;
}

h3{
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 2em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

h4{
	font-size: 1.5em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
}

p{
	font-size: 1.5em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
	margin: 0;
}

span{
	font-size: 1.3em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
	margin: 0;

}